body {
  background-image: linear-gradient(0deg, #3c99d6, #1aafc9, #3c99d6);
}

.square {
  width: auto;
  height: auto;
  position: relative;
  background: #f794af;
  border-radius: 10%;
}

.testContainer {
  width: 1280px;
  height: 720px;
  position: relative;
  background-image: linear-gradient(20deg, #76f5ee, #3c99d6, #1aafc9);
}

.grid {
  width: 1280px;
  height: 720px;
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-template-columns: repeat(32, 1fr);
  grid-gap: 12px;
}